* {
  box-sizing: border-box;
  padding: 0%;
}

.dashboard-container {
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.dashboard-container-01 {
  min-height: 300px;
  background-color: #5e72e4;
  position: absolute;
  width: 100%;
}

.dashboard-main-content {
  position: relative;
  border-radius: 1rem;
}

.dashboard-container-fluid {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card-body {
  padding: 0.75rem;
}

.dashboard-column {
  width: 66.66%;
}

.dashboard-paragraph {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
}

.dashboard-container-02 {
  text-align: end;
}

.dashboard-container-icon {
  text-align: center;
  border-radius: 50%;
}

.dashboard-container-iicon {
  font-size: 1.25rem;
  opacity: 0.1;
}

.dashboard-container-03 {
  margin-bottom: 0;
}

.dashboard-container-column-02 {
  width: 66.66667%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.dashboard-container-paragraph-02 {
  text-transform: uppercase;
  font-weight: bold;
}

.dashboard-container-04 {
  text-align: end;
}

.icon {
  display: inline-block;
}

.dashboard-container-col3 {
  text-align: center;
  border-radius: 50%;
}

.dashboard-container-06 {
  margin-top: 1.5rem;
}

.dashboard-container-07 {
  padding-bottom: 0;
  padding: 0.75rem;
}
.dashboard-container-08 {
  margin-bottom: 0;
}

.list-group-item {
  border: none;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  padding-left: 0;
  margin-bottom: 0.5rem;
}
.list-group-items {
  display: flex;
  align-items: center;
}

.dashboard-container-10 {
  text-align: center;
}

.dashboard-container-iicon-03 {
  color: white;
  opacity: 0.1;
}

.list-group-items-1 {
  display: flex;
  flex-direction: column;
}

.container-for-flex {
  display: flex;
}
