* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin-left: 20px;
  height: 100%;
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 25px;
  margin-top: 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar-brand-img {
  height: 35px;
  padding-left: 15px;
}

.img-container {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block; /* Ensures that the image does not have extra spacing below it */
}

.menu,
.signout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu > div,
.signout > div {
  margin: 10px 0;
  cursor: pointer;
  color: #333;
}

.menu > div:hover,
.signout > div:hover {
  color: #007bff;
}

.menu > div:first-child {
  font-weight: bold;
}

.dashboard-header {
  margin-bottom: 20px; /* Increase the margin-bottom as needed */
  font-weight: bold;
  font-size: 24px; /* Adjust the font size as needed */
}

.menu {
  margin-left: -80%;
  text-decoration: none;
}

.signout {
  display: flex;
  align-items: center;
  margin-top: 50%;
}

.signout button {
  background-color: #ff6347; /* Choose your desired background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signout button:hover {
  background-color: #ff473d; /* Change the background color on hover */
}

.submenu a {
  text-align: left;
  text-decoration: none;
}

/* Center submenus within the container */
.submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; /* Align text to the left within the submenu */
  position: relative;
  left: 100px;
  transform: translateX(0); /* Reset any previous translation */
}
