*-------SignIn.js--------*/

.page-header {
  min-height: 100vh;
}

.card-reader {
  padding-bottom: 0;
  text-align: start;
}

.font-weight {
  font-weight: bolder;
}

.margin {
  margin-bottom: 0;
}

.card-footer {
  text-align: center;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 2rem;
}

.custom-paragraph {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  margin-top: 0;
}

.custom-container {
  position: relative;
  background-image: linear-gradient(to right, #4e73df, #224abe);
  height: 100%;
  margin: 1rem;
  padding: 0 7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/*-------Navbar--------*/

.custom-navbar {
  margin: 0 4rem;
  padding: 0;
  box-shadow: none;
  border-radius: 1rem;
}

.custom-align-center {
  margin-left: auto;
  padding-right: 0.75rem;
  display: flex;
  align-items: center;
}

.custom-nav-item {
  padding-left: 0.75rem;
  display: flex;
  align-items: center;
}

.custom-navbar-nav {
  display: flex;
  justify-content: flex-end;
}