.logo-style{
    margin-top :40%;
    margin-bottom: 60%;
    box-sizing: border-box;
}

.alert-custom {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.edge-nav{
   margin-left:-10px;
   margin-top: 8px;
}
.nav-box{
    margin-top:-60px;
}